body 
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header_bar
{
    background-color:#1f2937;
    padding: 10px;
    margin-top: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.container
{
    margin-top: 120px;
}

.header_bar #logo
{
    width:20px;
}

.header_bar p
{
    font-size: 18px;
}

.container 
{
    text-align: center;
    display: grid;
}

.container form div button
{
    background-color:#4f46e5;
    width: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 9px 9px 9px 9px;
    border-color: aliceblue;
    height: 5vh;
}

.container form div button #lock
{
    width:18px;
    float: left;
}

.container form div
{
    padding: 10px;
}

.container form div #password
{
    width: 24vw;
    height: 3vh;
}

.container form div #email
{
    width: 24vw;
    height: 3vh;
}

.container form div input
{
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#copyright
{
    font-size: 10px;
}