body 
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header_bar
{
    background-color:#1f2937;
    padding: 0.625rem;
    margin-top: 0rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.container
{
    margin-top: 7.5rem;
}

.header_bar #logo
{
    width:1.25rem;
}

.header_bar p
{
    font-size: 1.125rem;
}

.container 
{
    text-align: center;
    display: grid;
}

.container form div button
{
    background-color:#4f46e5;
    width: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.938rem;
    border-radius: 0.563rem 0.563rem 0.563rem 0.563rem;
    border-color: aliceblue;
    height: 5vh;
    cursor: pointer;
}

.container form div button #lock
{
    width:1.125rem;
    float: left;
}

.container form div
{
    padding: 0.625rem;
}

.container form div #password
{
    width: 24vw;
    height: 3vh;
}

.container form div #email
{
    width: 24vw;
    height: 3vh;
}

.container form div input
{
    padding: 0.313rem;
    margin: 0.313rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
    font-size: 1rem;
}

#copyright
{
    font-size: 0.625rem;
}